body{
    margin: 0;
}

header{
    background: #bbbbbb;
    padding: 20px 0;
}
.logo2{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    display: flex;
    align-items:center;
}

nav{
    top: 110;
    right: 0;
    padding-right: 40px;

}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:blueviolet ;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.cards{
    height: 150px;
    width: 150px;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    object-fit: contain;
}

.produtos li:hover{
    border-color: blueviolet;
}

.produtos li:active{
    border-color:rgb(192, 142, 80);
}
.produtos li:hover h2{
    font-size: 35px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto_descriçao{
    font-size: 18px;
}

.produto_preço{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 ;
    color: red;
}

footer{
    text-align: center;
    background:#bbbbbb;
    padding: 40px 0;
    padding-left: 50px;
}

.logo_footer{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.copyrigth{
    color: bisque;
    font-size: 20px;
    margin: 20px 0  0 ;
}